.intro {
  &-list {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 55px;
  }

  &_item__one {
    padding: 15px;
    width: 75px;
    height: 75px;
    background-image: url(../img/item_one_bgi.png);
    background-repeat: no-repeat;
    background-position: top left;
  }
  &_item__two {
    margin-left: -15px;
  }
  &-box {
    display: flex;
    gap: 56px;
    margin-bottom: 80px;
  }
  &-box_one {
    margin: 0;
    padding: 0;
    width: 880px;
    height: 346px;
    background-color: #ecf1f4;
    background-image: url(../img/intro_bgi2.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    border-radius: 10px;
  }
  &-box_two {
    padding: 0 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #664ba4 0%, #323474 100%);
    border-radius: 10px;
  }
  &_text__one {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
  }
  &_text__two {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #fafcfe;
    opacity: 0.6;
  }
  &_box__link {
    margin: 0;
    padding: 0;
    margin: 20px 0;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
    text-decoration: none;
  }
}
