.latest {
  &_title {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
  }
  &_text {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #8c8ca2;
  }
  &-list {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    list-style-type: none;
    display: flex;
    gap: 52px;
  }
  &-item {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 344px;
  }
  &_img {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
  }
  &-box {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  &-box_one {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &-box_two {
    margin: 0;
    padding: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 9px;
    width: 50px;
    background-color: #ffedab;
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &_text__one {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  }
  &_text__two {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
  }
  &_text__three {
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
  }
  &_text__three::before {
    display: inline-block;
    content: url(../img/eye.svg);
    width: 14px;
    height: 14px;
    position: absolute;
    left: -18px;
  }
  &_text__four {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
  }
  &_text__fiwe {
    color: #eb1537;
  }
  &_btn {
    padding: 15px 20px;
    margin-left: 482px;
    margin-bottom: 150px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #0e0e2c;
    border: 1px solid #0e0e2c;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
  }
}
